section#home {
  background-color: #202029;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}

section#home>.content {
  height: calc(100vh - 190px);
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  display: flex;
}

section#home>.content>img {
  border-radius: 50%;
  margin-bottom: 5px;
  height: auto;
  width: 200px;
}

section#home>.content>.below-photo>h1 {
  font-size: 48px;
  color: #fff;
}

section#home * {
  color: #ababab;
}

section#home>.please-scroll {
  flex-direction: row;
  align-items: center;
  position: relative;
  display: flex;
  bottom: 0px;
  gap: 10px;
}

section#home .please-scroll p {
  font-weight: bold;
  font-size: 24px;
}