* {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff
}

.logo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.5rem
}

body {
  background: url("https://sadhost.neocities.org/images/tiles/sparklebackground.gif") repeat;
  display: flex;
  justify-content: center;
  align-items: center
}

body,
header *,
.content-left p,
.content-right h1,
.content-right p,
.content-left ul {
  padding: 0;
  margin: 0
}

.content-box {
  background-color: #8c00ff50;
  width: 61.875rem
}

header * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

header {
  padding: 0.625rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c00ff80;
  height: 4.0625rem
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr
}

.content-left,
.content-right {
  padding: 1.875rem 0
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #8c00ff21;
  padding-left: 2.1875rem;
  grid-area: 1/1/1/1
}

.content-left p {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.3125rem
}

.content-left ul {
  list-style: none
}

.content-left ul li a {
  text-decoration: none;
  color: #fff
}

.content-left ul li a:hover {
  color: #d6a4ff;
  text-decoration: underline
}

.content-right {
  padding: 1.875rem 2.1875rem 1.875rem 2.5rem;
  grid-area: 1/2/1/6
}

.content-right * {
  padding: 0;
  margin: 0;
}

.content-right h1,
.content-right h2 {
  padding-bottom: 0.625rem;
}

.content-right h1:not(:first-child),
.content-right h2:not(:first-child) {
  margin-top: -0.5rem;
}

.content-right .experience-icons {
  display: flex;
  flex-direction: row;
  font-size: 2.3rem;
  gap: 0;
  padding-top: 0.625rem
}

.content-right>.experience-icons>.experience-item {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 1rem;
  padding: .2rem .5rem;
  gap: .6rem;
  display: flex;
}

.content-right .experience-icons .experience-item:hover {
  cursor: pointer;
  background-color: #8c00ff50;
}

.content-right .experience-icons .experience-item i {
  text-align: center;
}

.content-right .experience-icons .experience-item p {
  font-size: .8rem;
  width: 0;
  height: 0;
  overflow: hidden;
}

.content-right .experience-icons .experience-item:hover p {
  width: auto;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 2.1875rem;
  background-color: #8c00ff80
}

footer img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(70deg) brightness(99%) contrast(107%);
  width: 2.625rem;
  height: 2.625rem
}

footer p {
  padding: 0;
  margin: 0
}

footer .left p:first-child {
  font-size: .9em
}

footer .left p:not(:first-child) {
  font-size: 1.3em
}

footer .right {
  text-align: right;
  font-size: .85em
}