@import "tailwindcss";
@plugin "daisyui" {
  themes: sunset --default;
}

@font-face {
  font-family: "Geist";
  src: url(../fonts/Geist-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "GeistMono";
  src: url(../fonts/GeistMono-Regular.woff2) format("woff2");
}

@theme {
  --font-display: "Geist", sans-serif;
  --font-mono: "GeistMono", sans-serif;
}

body {
  text-rendering: optimizeLegibility;
  font-display: swap;
}