* {
  font-family: "Google Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: auto;
  font-variation-settings:
    "GRAD" 0;
}

code, pre {
  font-optical-sizing: auto;
  font-family: monospace;
  font-display: auto;
}