.icon-grid {
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-top: 2rem;
  list-style: none;
  display: grid;
  gap: 2rem;
}

.icon-grid>li>a {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 0.6rem;
}

.icon-grid>li>a>p {
  text-align: center;
}

.icon-grid>li>a {
  transition: scale 0.2s ease;
}

.icon-grid>li>a:hover {
  scale: 1.05;
}