@media screen and (max-width: 1200px) {
  .icon-grid {
    gap: 2rem !important;
  }
}

@media screen and (max-width: 850px) {
  section#home>.please-scroll {
    display: none !important;
  }

  .icon-grid {
    gap: 1.5rem !important;
  }
}

@media screen and (max-width: 670px) {
  header .right-side {
    display: none !important;
  }

  header .right-side-mobile {
    display: flex !important;
  }
}

@media screen and (max-width: 600px) {
  header, section, #alertBar {
    padding: 20px 35px !important;
  }

  header {
    flex-direction: column !important;
    padding-bottom: 30px !important;
    gap: 8px !important;
  }
  
  header .logo {
    font-size: 36px !important;
  }

  section#home>.content img {
    border-radius: 50% !important;
    margin-bottom: 5px !important;
    height: auto !important;
    width: 150px !important;
  }

  section#home>.content {
    padding: 40px 0px !important;
    height: revert !important;
    margin: 0 !important;
  }

  section#home>.content>.below-photo>h1 {
    font-size: 36px !important;
    color: #fff !important;
  }

  .icon-grid {
    gap: 1rem !important;
  }
}

@media screen and (max-height: 590px) {
  section#home>.content {
    flex-direction: row !important;
    gap: 40px !important;
  }
}

@media screen and (max-height: 370px) {
  section#home>.content>img {
    display: none !important;
  }
}