@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

root {
  --solid-color: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --solid-color: #f5f5f5;
  }
  a:hover {
      background-color: #FFFFFF33;
  }
}

a,
.solid {
  text-decoration: none;
  color: var(--solid-color);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #0F0F0F33;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
