* {
  animation: ease-in-out .5s;
  -webkit-user-select: none;
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px 60px 30px 60px;
  line-height: 1.6;
}

section h1 {
  font-size: 35px;
}

section p {
  padding: revert;
}

section:nth-child(even) {
  background-color: #17171e;
}

section:nth-child(odd) {
  background-color: #1d1d25;
}